@model Medicure_Entity.Physician

@{
    ViewData["Title"] = "GetPhysicianDetailsByID";
    Layout = "_Layout2";
}

<div class ="sep">
<h1 style="color:cornflowerblue; font-weight:bold;">Physician Details</h1>

<div>
  
    <hr />
    <dl class="row ">
     
        <dt  style="color:whitesmoke; font-weight:bold; font-size:xx-large" class="bg-primary">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd style="color:black; font-weight:bold; font-size:xx-large" class="table-primary">
            @Html.DisplayFor(model => model.Name)       
        </dd>
        </dl>

        <dl class="row ">

        <dt style="color:whitesmoke; font-weight:bold; font-size:xx-large" class="bg-primary">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd style="color:black; font-weight:bold; font-size:xx-large" class="table-primary">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        

    </dl>

</div>

<div>
    <a class="btn btn-outline-light"  asp-controller="Patient" asp-action="ViewAppointmentHistory" asp-route-id="@ViewBag.Id">Back</a>
</div>
</div>

