@model Medicure_Entity.Patient

@{
    ViewData["Title"] = "GetPatientDetailsByID";
}

<h1>Patient Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">

        <dt class = "h3 col-xxl-4 text-xxl ">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "h1 col-xxl-4 text-xxl">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "h3 col-xxl-4 text-xxl">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "h1 col-xxl-4 text-xxl">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "h3 col-xxl-4 text-xxl">
            @Html.DisplayNameFor(model => model.DateOfReg)
        </dt>
        <dd class = "h1 col-xxl-4 text-xxl">
            @Html.DisplayFor(model => model.DateOfReg)
        </dd>
        
    </dl>
</div>
<div>
   
</div>
<div>
    <a class="btn btn-outline-light"  asp-controller="Patient" asp-action="AppointmentHistory" asp-route-id="@ViewBag.Id">Back</a>
</div>

