@model Medicure_Entity.Patient

@{
    ViewData["Title"] = "GetPatientDetailsByID";
    Layout = "_Layout2";
}



<div class ="drg">
    <h2 style="color:cornflowerblue; font-weight:bold;">Patient Detail</h2>
    <hr />
     
    <dl class="row">

      <dt style="color:whitesmoke; font-weight:bold; font-size:xx-large" class = "bg-primary  ">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd style="color:black; font-weight:bold; font-size:xx-large" class = "table-primary ">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
         
        <dt style="color:whitesmoke; font-weight:bold;font-size:xx-large" class = "bg-primary ">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd style="color:black; font-weight:bold;font-size:xx-large" class = "table-primary ">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        </dl>
        
         
        
    
</div>
<div>
   
</div>
<div>
    <a class="btn btn-outline-light"  asp-controller="Patient" asp-action="AppointmentHistory" asp-route-id="@ViewBag.Id">Back</a>
</div>

