@model IEnumerable<Medicure_Entity.Appointment_Log>

@{
    ViewData["Title"] = "ViewAppointments";
}

<h1>ViewAppointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table h4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.illness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_visit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.illness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_visit)
            </td>
            <td>
               <a class="btn btn-lg btn-outline-success" asp-controller="Physician" asp-action="AddPrescription" asp-route-id=@item.Appointment_ID> Add Prescription </a>
            </td>
            <td>
               <a class="btn btn-lg btn-outline-warning" asp-controller="Physician" asp-action="GetPatientDetailsByID" asp-route-id=@item.Patient_Id > View Details </a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-lg btn-outline-warning" asp-controller="Patient" asp-action="Index" asp-route-id="@ViewBag.Id">Back</a>

</div>